@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes swipe {
  0% {
    width: 15px;
  }
  100% {
    width: 75px;
  }
}
@keyframes grow {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1.5);
    opacity: 1;
  }
}
.logo-wrapper {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.logo-wrapper div {
  animation: grow 1.5s ease-in-out forwards;
}
.logo-wrapper div img,
.logo-wrapper div h1 {
  margin-bottom: 1.5em;
  width: 120px;
  animation: grow 1.5s ease-in-out forwards;
}

.main-onboarding {
  animation: fadeIn 1s ease-in;
  max-width: 720px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.flex {
  margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagewindow {
  width: 400px;
  height: 615px;
  border: none;
  overflow: hidden;
  position: relative;
}

.imageroll {
  position: absolute;
  width: 1200px;
}

.dots {
  display: flex;
  gap: 5px;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #c7c7c7;
  border-radius: 50%;
  display: inline-block;
  transition: all 0.3s ease;
}
.dot.fill {
  background-color: #4D861F;
  width: 75px;
  border-radius: 16px;
  animation: swipe 0.3s ease-in-out;
}

.text {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.text p {
  font-family: "Open Sans", sans-serif;
  color: #404040;
  margin: 0;
  font-size: 16px;
}
.text h3 {
  color: #404040;
  font-size: 32px;
  line-height: 44px;
}

.page-control {
  display: flex;
  gap: 1rem;
  text-align: center;
}

.prev,
.next {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  display: block;
  border: 2px solid #4D861F;
  padding: 0.75em 2em;
  border-radius: 40px;
  width: 166px;
  font-size: 20px;
}

.prev {
  color: #4D861F;
  background-color: white;
}

.next {
  cursor: pointer;
  color: white;
  background-color: #4D861F;
}

.login-wrapper {
  animation: fadeIn 1s ease-in;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: auto;
}

.login-welcome-text {
  color: #575757;
  padding-bottom: 3em;
}
.login-main-container-buttons {
  display: grid;
  justify-content: center;
}
.login-main-button-facebook, .login-main-button-google {
  background-color: white;
  width: 300px;
  color: #404040;
  border-radius: 40px;
  margin-bottom: 12px;
  border: solid 0.5px lightgrey;
  padding: 1em;
}
.login-main-button-signin {
  width: 300px;
  background-color: #4d861f;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 1em;
  box-shadow: 0 8px 20px rgba(77, 134, 31, 0.574);
}
.login-main-border-or {
  padding: 0.75em;
}
.login-main-border-or-line {
  width: 300px;
  margin: 2em auto;
  border-bottom: 1px solid #404040;
  line-height: 0.1em;
}
.login-main-border-or span {
  background: white;
  padding: 10px;
  color: #575757;
}
.login-main-signup-link a {
  text-decoration: none;
  color: #4d861f;
}

.settings-wrapper {
  animation: fadeIn 1s ease-in;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 720px;
  justify-content: center;
  min-height: 100vh;
  margin: auto;
}
.settings-main h1 {
  color: #4d861f;
}
.settings-main-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.settings-main-logo img {
  width: 20px;
}
.settings-main-logo p {
  font-weight: bold;
  font-size: 24px;
}

.section-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-settings-switch {
  gap: 1em;
  display: flex;
  align-items: center;
}
.section-settings-switch-flex {
  align-items: center;
  text-align: center;
  width: 400px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
}
.section-settings-switch-flex:last-child {
  border-bottom: 1px solid #ccc;
}
.section-settings-switch p {
  font-weight: 700;
}
.section-settings-switch-logo {
  width: 20px;
}
.section-settings-darkmode-button {
  margin-top: 1em;
  background-color: white;
  width: 20em;
  color: #4d861f;
  border: 1px solid #4d861f;
  border-radius: 40px;
  padding: 1em;
}
.section-settings-version-text {
  font-size: 12px;
  color: #A5A5A5;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4d861f;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}

.footer-navbar {
  width: 430px;
  margin: 0 auto;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.066);
}
.footer-navbar nav {
  padding: 10px;
}
.footer-navbar nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-navbar nav a {
  text-decoration: none;
  color: inherit;
}
.footer-navbar nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8rem;
  cursor: pointer;
}
.footer-navbar nav li i {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.footer-navbar nav li.active {
  color: #4d861f;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}
.dark-mode .logo-wrapper h1 {
  color: white;
}
.dark-mode .main-onboarding {
  background-color: #1a1a1a;
  color: white;
}
.dark-mode .main-onboarding .imagewindow .dark-mode-img1 {
  content: url("../src/pic/Onboarding 2 darkmode.png");
}
.dark-mode .main-onboarding .imagewindow .dark-mode-img2 {
  content: url("../src/pic/Onboarding 3 darkmode.png");
}
.dark-mode .main-onboarding .imagewindow .dark-mode-img3 {
  content: url("../src/pic/Onboarding 4 darkmode.png");
}
.dark-mode .main-onboarding .text h3, .dark-mode .main-onboarding .text p {
  color: #ffffff;
}
.dark-mode .main-onboarding .dots .dot.active {
  background-color: #4d861f;
}
.dark-mode .main-onboarding .page-control .next {
  color: #ffffff;
  border: 1px solid #4d4d4d;
}
.dark-mode .main-onboarding .page-control .prev {
  background-color: #1a1a1a;
}
.dark-mode .login-wrapper {
  background-color: #1a1a1a;
}
.dark-mode .login-welcome-text {
  color: #ffffff;
}
.dark-mode .login-main-button-facebook,
.dark-mode .login-main-button-google {
  background-color: #2d2d2d;
  color: #ffffff;
  border: 1px solid #4d4d4d;
}
.dark-mode .login-main-border-or-line {
  border-color: #4d4d4d;
}
.dark-mode .login-main-border-or-line span {
  background-color: #1a1a1a;
  color: #ffffff;
}
.dark-mode .login-main-signup-link {
  color: #ffffff;
}
.dark-mode .login-main-signup-link a {
  color: #4d861f;
}
.dark-mode .footer-navbar {
  background-color: #1a1a1a;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.2);
}
.dark-mode i {
  color: #ffffff !important;
}
.dark-mode .fa-gear {
  color: #4D861F !important;
}
.dark-mode .section-settings-darkmode-button {
  background-color: #1a1a1a;
}/*# sourceMappingURL=style.css.map */